{% set tileWho = entry.tileWho.one() %}

<div class="tile tile-who">
	<div class="front">
		<div class="content">
			<h2>{{ tileWho.title }}</h2>
			<span class="arrow"></span>
		</div>
	</div>
	<div class="back">
		<div class="content">
			<h3>{{ tileWho.fullname }}</h3>
			<span class="arrow">{{ tileWho.linkText }}</span>
		</div>
	</div>
</div>
