/* Animation */
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* Intro */
.intro {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
.intro .citation {
  color: var(--primary);
  font-family: 'Appareo Light', Helvetica, Arial, Lucida, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3;
  padding: 7% 1rem;
  text-align: center;
}
.intro .citation .author {
  font-size: 25px;
}
.intro .citation p {
  margin: 0;
}
.intro .arrow {
  animation-duration: 1.7s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  bottom: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  position: absolute;
}


/* Tiles grid styling */
.tiles {
  --grid-layout-gap: 0px;
  --grid-column-count: 4;
  --grid-item--min-width: 200px;
  
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-template-rows: 50%;
  grid-gap: var(--grid-layout-gap);
  grid-template-areas: 
    "what when who how"
    "what when price price";
}
.tile-what {
  grid-area: what;
}
.tile-when {
  grid-area: when;
}
.tile-who {
  grid-area: who;
}
.tile-how {
  grid-area: how;
}
.tile-price {
  grid-area: price;
}
/* Tiles styling */
.tile {
  font-size: 1vw;
  position: relative;
  text-align: center;
}
.tile h2 {
  font-size: 5.4vw;
  margin: 0;
}
.tile h3 {
  font-size: 1.26vw;
  margin: 1rem 0;
}
.tile .content {
  flex-grow: 1;
}
.tile .front, .tile .back {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
}
.tile .back {
  background: color-mix(in srgb, var(--tertiary) 90%, transparent);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .5s;
  z-index: 2;
}
.tile .back:before {
  border: 1px solid var(--primary);
  bottom: 5px;
  content: '';
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.tile .back:hover {
  opacity: 1;
}
.tile .icon {
  margin: 0 auto;
  background-color: var(--primary);
  height: 30px;
  width: 30px;
}
.tile.inverted .back {
  background: color-mix(in srgb, var(--primary) 90%, transparent);
}
.tile.inverted .back:before {
  border-color: var(--secondary);
}
.tile.inverted .icon {
  background-color: var(--secondary);
}

/* Custom tiles styling */
.tile-what .front, .tile-when .front {
  align-items: start;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
}
.tile-what h2, .tile-when h2 {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 1rem;
}
.tile-when h2 {
  border-bottom-color: var(--secondary);
}
.tile-who .back, .tile-price .back {
    color: var(--secondary);
}
.tile-who .back:before, .tile-price .back:before {
  border-color: var(--secondary);
}
.tile-who .back h3 {
  text-transform: none;
}
.tile-how .front, .tile-how .back {
  background-color: var(--secondary);
}
.tile-price h2 {
  font-size: 4.68vw;
}
.tile-price h3 {
  display: inline;
  font-size: 12px;
  margin: 0;
}
.tile-price .back .content {
  max-width: 80%;
  margin: auto;
}
.tile-price .back h3 {
  border-bottom: 1px solid var(--secondary);
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.tile-price .block-split > div:first-child {
  position: relative;
}
.tile-price .block-split > div:first-child:before {
  background-color: var(--secondary);
  content: '';
  height: 20px;
  margin-top: -10px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(45deg);
  width: 20px;
  z-index: 1;
}

/* Offers styling */
.offers {
  margin: 0 1rem;
}
.offers div {
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin: .75rem 0;
  position: relative;
}
.offers div:before {
  bottom: 4px;
  border-bottom: 1px dotted var(--secondary);
  content: '';
  left: 10px;
  position: absolute;
  right: 10px;
}
.offers dt {
  flex-basis: 60%;
  text-align: left;
}
.offers dd {
  line-height: 1.6;
  margin-left: 0;
  text-align: right;
  white-space: nowrap;
}
.offers dt h3, .offers dd {
  background-color: var(--primary);
  position: relative;
}

/* Address styling */
.address {
  background: color-mix(in srgb, var(--primary) 90%, transparent);
  padding: 7% 1rem;
  position: relative;
  text-align: center;
  z-index: 1;
}
.address h2, .address h3 {
  margin: 0;
}
.map {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.map img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Contact form styling */
.contact {
  padding: 6% 0;
}
.contact .block {
  margin-bottom: 1.5rem;
}
.contact .block-split > div:first-child,
.contact .block-split > div:last-child {
  box-sizing: border-box;
}
.contact .block-split > div:first-child {
  padding-right: .75rem;
}
.contact .block-split > div:last-child {
  padding-left: .75rem;
}