<div class="citation">
	<p>&bdquo;{{ citation.staticQuote }}</p>
	<p class="source">
		<span>{{ citation.dynamicQuote }}&rdquo;</span>
	</p>
	<p>
		<span class="type"></span>
	</p>
	<p class="author">&ndash;
		{{ citation.author }}</p>
</div>
