<div class="intro">
	{{ include("common/citation.twig", { citation: entry.citation.one() }) }}
	<div class="center">
		<a href="#tiles">
			<img src="/images/arrow-down.png" alt="Šipka dolů" width="40" class="arrow bounce"/>
		</a>
	</div>
</div>
