<footer class="footer">
	<div class="container">Design by
		<a href="http://www.moucha.works" target="_blank">Moucha Works</a>
		| Code by
		<a href="https://www.linkedin.com/in/ondrej-tuma/" target="_blank">Ondřej Tůma</a>
		| All Rights Reserved © 2017-2024 Terapie 11</div>
</footer>
